<?xml version="1.0"?>
<launch>
	<!-- Map server -->
	<arg name="map_file" default="$(find udacity_bot)/maps/jackal_race.yaml"/>
	<arg name="ucompat" default="true" doc="compliance with udacity project submission requirements"/>

	<node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

	<!-- Localization-->
	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		<remap from="scan" to="/scan"/>
		<param name="odom_frame_id" value="odom"/>
		<param name="odom_model_type" value="diff-corrected"/>

		<!-- encoder odom is fairly bad with rotation... -->
        <param name="odom_alpha1" value="0.01"/>
        <param name="odom_alpha2" value="0.005"/>

        <param name="odom_alpha3" value="0.01"/>
        <param name="odom_alpha4" value="0.02"/>

		<param name="base_frame_id" value="robot_footprint"/>
		<param name="global_frame_id" value="map"/>
		<param name="update_min_d" value="0.2"/> <!-- 10 deg -->
		<param name="update_min_a" value="0.17"/> <!-- 10 deg -->
		<param name="resample_interval" value="1"/> <!-- 10 deg -->

		<param name="recovery_alpha_slow" value="0.001"/>
		<param name="recovery_alpha_fast" value="0.1"/>
	</node>

	<include if="$(arg ucompat)" file="$(find udacity_bot)/launch/move_base.launch"/>

</launch>
