<launch>

	<group if="true">
		<include file="$(find udacity_bot)/launch/odom.launch"/>
		<node pkg="udacity_bot" type="cmd_calib.py" name="cmd_calib" output="screen"/>
	</group>

	<group if="false">
		<node pkg="udacity_bot" type="scan_to_angle.py" name="scan_to_angle" >
			<param name="min_angle" value="-1.5707" />
			<param name="max_angle" value="1.5707" />
		</node>
		<node pkg="udacity_bot" type="calibrate.py" name="turtlebot_calibration" output="screen" required="true">
			<!--<remap from="imu" to="mobile_base/sensors/imu_data_raw" />-->
			<!--<remap from="cmd_vel" to="mobile_base/commands/velocity" />-->
			<param name="turtlebot_node/has_gyro" value="false"/>
			<remap from="scan_angle" to="scan_angle" />
			<remap from="odom" to="odom" />
		</node>
	</group>

</launch>
